.box {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    background-color: #c8dadf;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    position: relative;
    padding: 100px 20px;
    text-align: center;
    margin: 10px;

    &.box__hover {
        background-color: white;
        outline-offset: -20px;
    }

    .box__icon {
        color: #92b0b3;
        width: 100px;
        height: 100px;
        text-align: center;
        font-size: 80px;
    }

    .box__info {
        position: relative;

        .box__dragndrop {
            display: block;
        }

        .box__progress {
            display: block;
            overflow: hidden;
            position: absolute;
            top: 25px;
            left: 50%;
            margin-left: -100px;
            width: 200px;
            height: 1px;

            .box__progress_bar {
                height: 1px;
                background-color: red;
            }
        }
    }

    .box__buttons {
        margin-top: 25px;
    }
}

.primary {
    background-color: #4e9ad6;
    color: white;
}

.success {
    background-color: #7ec465;
    color: white;
}