<md-tab-group [selectedIndex]="selectedIndex">
    <md-tab label="Upload" [disabled]="uploadedFileName != null ? true : false">
        <div ng2FileDrop
             [ngClass]="{'box__hover': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="box">

            <md-icon class="box__icon">cloud_upload</md-icon>

            <div class="box__info" *ngIf="uploader?.queue?.length > 0; else dragInfo">
                <div *ngFor="let item of uploader.queue">
                    {{ item?.file?.name }} ({{ item?.file?.size/1024/1024 | number:'.2' }} MB)
                </div>

                <div class="box__progress">
                    <div class="box__progress_bar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>

            </div>
            <ng-template #dragInfo>
                <div class="box__dragndrop">
                    Drag file here to upload.
                </div>
            </ng-template>

            <div class="box__buttons">
                <button md-raised-button class="box__button success"
                        (click)="uploader.uploadAll()"
                        [disabled]="!uploader.getNotUploadedItems().length">Upload</button>

                <button md-button class="box__button"
                        (click)="uploader.clearQueue()"
                        [disabled]="!uploader.queue.length">Cancel</button>
            </div>
        </div>

        <!--<input type="file" ng2FileSelect [uploader]="uploader" multiple/>-->

    </md-tab>
    <md-tab label="Resulted File" [disabled]="uploadedFileName != null ? false : true">
        {{ uploadedFileName }}
    </md-tab>
</md-tab-group>
