<form (ngSubmit)="onUploadFormSubmit()" #uploadForm="ngForm">

    <md-input-container>
        <input mdInput placeholder="Some text" name="comment" ngModel>
    </md-input-container>

    <div class="box">
        <h2>Drop file</h2>

        <app-dropzone
            [allowedMimeType]="['application/zip', 'application/x-compressed', 'application/x-zip-compressed', 'multipart/x-zip']">
        </app-dropzone>

    </div>

    <button md-raised-button [disabled]="!uploadForm.dirty || !dropzone.isValid()">Apply</button>

    <button md-button type="reset" (click)="clearUploadForm()">Clear</button>

</form>
